:root {
    --main-bg-color: #263238;
    --button-main-color: #EF6C00;
}

/* Fondo del Card */
.cardBg {
    background-color: (--main-bg-color) !important;
}

.bg-sidebar {
    background-color: #191919;
}

.MainCard {
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid #303133;
}

.top-card {
    margin-bottom: 14px;
}

.bottom-card {
    margin-top: 14px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.cardSide {
    width: 100%;
    margin-right: 1.2rem;
}

.btnCustom {
    color: (var(--button-main-color)) !important;
}

.components-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newCharts {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.newChartsSide {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.bottomCard {
    margin-top: 15px;
    border: 1px solid #303133;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 2px;
}

.tableContente {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.upload {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424242;
    height: 330px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #BABABA;
    border-style: dashed;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.upload:hover {
    background-color: #606366;
}

.charts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listBreadcrumbs {
    margin-left: 10px;
    margin-bottom: 10px;
}

.listButtons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.separator {
    margin-top: 0.9rem;
    margin-left: 5px;
    color: #606366;
}

.addChart {
    background-color: #1E2022;
    color: #91959A;
    margin-top: 15px;
    border-radius: 5px;
    margin-right: 6px;
    margin-left: 8px;
    width: 95px;
    height: 25px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

.addChart:hover {
    background-color: #606366;
    color: white;
}

.confhart {
    background-color: #1E2022;
    color: #91959A;
    margin-top: 15px;
    border-radius: 15px;
    margin-right: 8px;
    margin-left: 8px;
    width: 34px;
    height: 25px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

.confhart:hover {
    background-color: #606366;
    color: white;
}

.checkChart {
    background-color: #1E2022;
    color: #91959A;
    margin-top: 15px;
    border-radius: 15px;
    width: 205px;
    height: 25px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

.checkChart:hover {
    background-color: #606366;
    color: white;
}

.checkUpdate {
    background-color: #F7BD8D;
    color: #EF6C00;
    margin-top: 15px;
    border-radius: 15px;
    margin-left: 10px;
    width: 130px;
    height: 25px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    border: 1px solid var(--button-main-color);
}

.checkUpdate:hover {
    background-color: #EF6C00;
    color: white;
}


.confButton,
.hideButton {
    background-color: transparent;
    color: #91959A;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
    width: 95px;
    height: 25px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

.confButton:hover {
    background-color: #606366;
    color: white;
}

.hideButton:hover {
    background-color: #606366;
    color: white;
}

.addButton {
    background-color: var(--button-main-color);
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
    width: 95px;
    height: 25px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

.downButton {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: #2B2B2B;
    margin-bottom: 0.8rem;
}